/* Home  */


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* NavBar */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; 

}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.section {
    padding: 40px 0;
}

.container {
    width: 80%;
    margin: auto;
}

.header-text h2 {
    margin: 0;
}

/* Portfolio */


.portfolio-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item-project {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    text-align: center;
}

.flex-item-project img {
    width: 100%;
    height: auto;
}


.flex-item {
    flex: 1;
    margin: 10px;
    text-align: center;
}
  

/* Footer */

footer {
    background-color: #0a0808;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Featured Photo */


.welcome-section {
    display: flex;
    align-items: center;
    justify-content: center;
    position:relative;
    background:url(images/me.png)no-repeat;
    background-size:cover;
    background-position: center;
    height:400px;
    justify-content: center; 
}

